################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lockdown-Project/.vs/LOCKDOWN-PROJECT/FileContentIndex/0e52e18b-fe7e-4647-b166-d21973c19c9c.vsidx
/Lockdown-Project/.vs/LOCKDOWN-PROJECT/FileContentIndex/d4fc0d45-02fd-44ce-a6e2-0cb57db8d788.vsidx
/Lockdown-Project/.vs/LOCKDOWN-PROJECT/FileContentIndex
